@tailwind base;
@tailwind components;
@tailwind utilities;

#scroller::-webkit-scrollbar
{
    display: none;
}

#job::-webkit-scrollbar {
    display: none;
}

*{
    font-family: 'gilroy';
}
.snap-mandatory{
    
}